altair==4.0.0 ; python_full_version == "3.11.7"
beautifulsoup4==4.12.3 ; python_full_version == "3.11.7"
bs4==0.0.2 ; python_full_version == "3.11.7"
chromadb==0.5.5 ; python_full_version == "3.11.7"
google-api-core==2.19.2 ; python_full_version == "3.11.7"
google-api-core[grpc]==2.19.2 ; python_full_version == "3.11.7"
google-auth==2.34.0 ; python_full_version == "3.11.7"
google-cloud-core==2.4.1 ; python_full_version == "3.11.7"
google-cloud-secret-manager==2.20.2 ; python_full_version == "3.11.7"
langchain-community==0.3.0 ; python_full_version == "3.11.7"
langchain-core==0.3.0 ; python_full_version == "3.11.7"
langchain-google-community==2.0.0 ; python_full_version == "3.11.7"
langchain-openai==0.2.0 ; python_full_version == "3.11.7"
langchain-text-splitters==0.3.0 ; python_full_version == "3.11.7"
langchain==0.3.0 ; python_full_version == "3.11.7"
langchainhub==0.1.21 ; python_full_version == "3.11.7"
langsmith==0.1.121 ; python_full_version == "3.11.7"
openai==1.46.0 ; python_full_version == "3.11.7"
pandas==2.2.2 ; python_full_version == "3.11.7"
pillow==9.5.0 ; python_full_version == "3.11.7"
protobuf==4.25.4 ; python_full_version == "3.11.7"
pyarrow==17.0.0 ; python_full_version == "3.11.7"
python-dateutil==2.9.0.post0 ; python_full_version == "3.11.7"
streamlit==1.33.0 ; python_full_version == "3.11.7"
tiktoken==0.7.0 ; python_full_version == "3.11.7"
watchdog==5.0.2 ; platform_system != "Darwin" and python_full_version == "3.11.7"